spring:
  datasource:
    url: jdbc:mysql://viaduct.proxy.rlwy.net:3306/railway
    username: root
    password: XlOXlbiBmYXfhQxyXcYkHkUFzMqNVykM
    driver-class-name: com.mysql.cj.jdbc.Driver
    
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true

server:
  port: ${PORT:8080}
