spring:
  datasource:
    url: jdbc:mysql://tramway.proxy.rlwy.net:59870/railway?useSSL=true&allowPublicKeyRetrieval=true&serverTimezone=UTC&connectTimeout=30000
    username: root
    password: XlOXlbiBmYXfhQxyXcYkHkUFzMqNVykM
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      connection-timeout: 30000
      maximum-pool-size: 5
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    open-in-view: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true

server:
  port: ${PORT:8080}
